<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">aqui va el index</div>

                    <div class="card-body">
                        ejemplo del index
                    </div>
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Login</span></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log(' Component mounted.')
        }
    }
</script>
